{% extends 'base.html.twig' %} 

{% block body %}
<div class="section-header">
  <h1>Barang List</h1>
</div>

<div class="section-body">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Data Barang</h4>
          <div class="card-header-action">
            <a href="{{ path('app_barang_new') }}"
              >
              <button class="btn btn-lg btn-info" type="button">
                <i class="fas fa-plus"></i> Tambah Baru
              </button></a
            >
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="table-1">
              <thead>
                <tr>
                  <th class="text-center">ID</th>
                  <th>Nama Barang</th>
                  <th style="display: none;">ID Barang</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for barang in barangs %}
                <tr>
                  <td class="text-center">{{ barang.id }}</td>
                  <td>
                    <span class="text-uppercase">{{ barang.namaBarang }}</span>
                    <div class="table-links">
                      <a href="{{ path('app_barang_edit', { id: barang.id }) }}"
                        ><span class="badge badge-primary"
                          >Edit <i class="fas fa-pencil-alt"></i></span
                      ></a>
                    </div>
                  </td>
                  <td class="text-center" style="display: none;">{{ barang.id }}</td>
                  <td>
                    <a
                      href="{{ path('app_barang_edit', { id: barang.id }) }}"
                      class="btn btn-primary btn-action mr-1"
                      data-toggle="tooltip"
                      title="Edit"
                    >
                      <i class="fas fa-pencil-alt"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {# {% block body %}
<h1>Barang index</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>NamaBarang</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for barang in barangs %}
    <tr>
      <td>{{ barang.id }}</td>
      <td>{{ barang.namaBarang }}</td>
      <td>
        <a href="{{ path('app_barang_show', { id: barang.id }) }}">show</a>
        <a href="{{ path('app_barang_edit', { id: barang.id }) }}">edit</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="3">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ path('app_barang_new') }}">Create new</a>
{% endblock %} #}
